.App {
  text-align: center;
}



/* Hide the scrollbar */
.task-list::-webkit-scrollbar {
  width: 0;
  height: 0;

}

button:hover {
opacity: 0.5;
}


li::-webkit-scrollbar {
  /* Set border radius */
  border-radius: 6px;
  /* Change scrollbar width */
  /* width: 5px; */
  height: 5px;
}

li::-webkit-scrollbar-thumb {
  /* Set color for the scrollbar thumb */
  background-color: rgba(0, 0, 0, 0.5);
  /* Set border radius for the thumb */
  border-radius: 6px;
  height: 3px;
}

li::-webkit-scrollbar-track {
  /* Set color for the scrollbar track */
  background-color: rgba(255, 255, 255, 0.1);
  /* Set border radius for the track */
  border-radius: 6px;
}